body {
  background-color: black;
}

.left {
  list-style-type: None;
  display: flex;
  background-color: #333333;
  color: white;
  padding: 20px;
  text-align: center;
  text-indent: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.left li a:hover {
  background-color: gray;
  cursor: pointer;
}

.left li a {
  color: white;
  margin: 10px;
}

.right {
  position: absolute;
  display: flex;
  right: 100px;
  text-indent: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container img {
  display: block;
  width: 600px;
  height: 600px;
  margin-left: 5%;
}

.container .btnl {
  position: absolute;
  top: 50%;
  left: 60px;
  background-color: darkslategrey;
  width: 20px;
  height: 40px;
}

.container .btnr {
  position: absolute;
  top: 50%;
  right: 54%;
  height: 40px;
  width: 20px;
  background-color: darkslategrey;
}

.container .btnl:hover {
  cursor: pointer;
}

.container .btnr:hover {
  cursor: pointer;
}

.container img:hover {
  cursor: pointer;
}

.sub-menu-1 {
  display: none;
}

.left li:hover .sub-menu-1 {
  display: block;
  list-style: none;
  background: black;
  position: fixed;
  color: blanchedalmond;
  margin-left: -10px;
}

.left li:hover .sub-menu-1 li {
  list-style-type: none;
}

.left li:hover .sub-menu-1 ul {
  display: block;
  text-align: center;
}

.left li:hover .sub-menu-1 ul li {
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
}

.left li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}

.left li:hover .sub-menu-1 ul li:hover {
  color: bisque;
}

.show {
  position: absolute;
  height: 300px;
  width: 700px;
  background-color: darkgray;
  top: 40%;
  left: 50%;
}

.show img {
  position: absolute;
  width: 350px;
  height: 300px;
}

.show h2 {
  margin-left: 51%;
  margin-top: 10%;
}
